<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.ControleDeEstoqueConnectionString"
            connectionString="Data Source=FLAVIO-PC\SQLEXPRESS;Initial Catalog=ControleDeEstoque;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>